
<% if flash[:notice] %>
    <div class="notice" style="color: red;"><%= flash[:notice]  %></div>
  <% end %>


<div class="row">
  <% @products.each do |product| %>
    <div class="col-md-4">
      <div class="well center-it">
        <% if product.image.url.nil? == false %>
          <p><%= image_tag product.image.url, class: "storefront-pics" %></p>
        <% end %>
        <h3><%= link_to product.name, product %></h3>
        <p><%= number_to_currency product.price %></p>
        <p>
          <a href="#" data-toggle="modal" data-target="#myModal_<%= product.id %>">
            <span class="glyphicon glyphicon-plus"></span> Quick Info
          </a>
        </p>
      </div>
		    </div>
		  <div class="modal fade" id="myModal_<%= product.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel"><%= product.name %></h4>
			      </div>
			      <div class="modal-body">
			        <center>
			        	<p><%= image_tag product.image.url, style: "width: 200px; height: 150px;" %></p>
			        	<p><%= product.description %></p>
			        	<p>Our price: <%= number_to_currency product.price %></p>

			        </center>


			      </div>
			      <div class="modal-footer form-group">
			        <p>
							  <%= form_tag add_to_cart_path do %>
							    <%= hidden_field_tag :product_id, product.id %>
							    <%= number_field_tag :quantity, nil, min: 0, max: product.quantity, class: "form-control" %>
							    <%= submit_tag "Add to Cart", class: "btn btn-primary" %>
							  <% end %>
						  </p>


			      </div>
			    </div>
			  </div>
			</div>

	<% end %>

	  <!-- Modal -->
	
</div>
