<h1>User Profile for <%= @user.email %></h1>


<p>User: <%= @user.email %></p>
<p>Role: <%= @user.role %></p>

<div class="well" >

<%= form_tag edit_user_path do %>
		<%= select_tag(:role, options_for_select([ "admin", "guest" ]), :prompt => "Please select") %>
		  <%= hidden_field_tag :id, @user.id %>
		  <%= submit_tag "Update Role", class: "btn btn-primary" %>
<% end %>
</div>


